@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Audiowide&family=Nova+Flat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    /* .backGround{
      @apply fixed top-0 left-0 bg-gradient-to-br from-primary to-secondary
      h-screen w-screen overflow-x-hidden bg-scroll 
    } */
    .scrollBar
    {
        @apply scrollbar scrollbar-w-1 scrollbar-thumb-rounded-md 
        drop-shadow-lg 
        scrollbar-thumb-secondary scrollbar-track-black 
        hover:scrollbar-track-primary
        transition-all delay-300
    }

    .searchBar{
      @apply relative bg-slate-400 p-2 bg-opacity-50
      rounded-l-xl w-72 flex flex-row my-auto
      shadow-lg backdrop-blur-sm font-novaflat 
      focus:bg-white
    }

    .codeIcon{
      @apply relative flex justify-center items-center
     text-primary bg-slate-400 rounded-xl h-12 w-12
     mx-auto my-3 hover:bg-slate-900 hover:text-secondary 
     hover:rounded-full transition-all delay-300 focus:border-primary
     focus:bg-slate-900 focus:text-sky-blue focus:border-2 focus:rounded-full

     dark:bg-slate-900 dark:hover:bg-slate-400 dark:text-secondary
     dark:hover:text-primary dark:focus:border-secondary dark:focus:text-sky-blue
     dark:focus:bg-primary dark:focus:rounded-full
    }

    .codeIconToolTip
    {
        @apply fixed left-16 bg-slate-900 
        dark:bg-slate-300 p-1 rounded-md text-white text-[12px]
        dark:text-slate-900 scale-0 transition-all 
        delay-300 font-novaflat
    }

    .settingsIcon{
      @apply flex justify-center items-center text-primary
      bg-slate-400 rounded-md h-8 w-8 mx-auto
      hover:bg-slate-900 hover:text-secondary
      hover:rounded-full shadow-lg hover:shadow-primary
      transition-all delay-300

      dark:bg-slate-900 dark:text-secondary dark:hover:bg-slate-400 
      dark:hover:text-primary
    }

    .SideTabIcon
    {
      @apply w-8 h-8 my-8 flex backdrop-blur-md justify-center items-center
      text-white bg-transparent rounded-md mx-auto text-center hover:shadow-[0_0_7px_#fff] 
      hover:shadow-sky-blue hover:text-sky-blue
      focus:shadow-sky-blue focus:text-sky-blue focus:shadow-[0_0_7px_#fff]
      transition-all
    }

    .footerheader
    {
        @apply text-lg font-zrnic text-white text-shadow-md shadow-white ml-5
    }

    .Input
    {
        @apply mx-auto my-2 p-2 rounded-lg shadow-inner font-adventpro
    }
}

.aurora-outer {
    background: linear-gradient(-50deg, #00ff55 0%, #6600cc 70%, #6600cc 100%);
    background-size: 200%;
    animation: aurora 5s infinite linear;
}

.aurora-inner {
    background: radial-gradient(rgba(0, 0, 0, 0.7), #000 100%);
    background-size: 200%;
    animation: aura 10s infinite ease-in-out;
}

@keyframes aura {
    0% {
        background-position: right top;
    }
    25% {
        background-position: left top;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right bottom;
    }
    100% {
        background-position: right top;
    }
}

@keyframes aurora {
    0% {
        background-position: left top;
        rotate: 0deg;
    }
    25% {
        background-position: right top;
        rotate: 90deg;
    }
    50% {
        background-position: right bottom;
        rotate: 180deg;
    }
    75% {
        background-position: left bottom;
        rotate: 270deg;
    }
    100% {
        background-position: left top;
        rotate: 360deg;
    }
}
.aurora-inner {
    display: block;
    height: 150vh;
    width: screen;
    position: relative;
}

.aurora-outer {
    display: block;
    height: 150vh;
    width: screen;
    position: relative;
}

.glassDiv
{
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: brightness(125%);
    backdrop-filter: brightness(125%);
    border-radius: 16px;
    box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.274) inset, 2px 5px 20px rgba(0, 0, 0, 0.425);
}
